/* Styling */
* {
    margin: 0;
    padding: 0;
    background: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(images/im3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    justify-items: center;
    display: flex;
}

.heading {
    margin-top: 20%;
    text-align: center;
}

#container {
    margin-top: 80px;
    text-align: center;
    padding: 80px;
    display: block;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;

}

#task-container {
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    height: 50px;
    width: 100%;
    border-radius: 20px;
    box-shadow: 5px, 10px, 10px black;
    display: flex;
}

#input-task {
    height: 30px;
    flex: 1;
    margin: 10px 10px;
    border: solid 2px black;
    border-radius: 20px;
    font-size: 1rem;
    

}

#add-button {
    border-radius: 5px;
    border: solid 2px black;
    margin: 10px;
    width: 50px;
    background-color: palegreen;
    color: black;
    font-size: 1rem;
    transition-delay: 1s;
    
}

#add-button:hover {
    background-color: green;
    color: white;
    cursor: pointer;
    
}

ul {
    padding: 0;
    display: inline-block;

}

.list {

    list-style-type: none;
    margin-bottom: 5px;
    font-size: 1.2rem;
}
.checkbtn {
    background-color: blueviolet;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 50px;
}

.deletebtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 8px;
}
@media only screen and (max-width: 547px){
    .box{
        width:150%;
        height: 350px;
        background-color: aliceblue;
        border-radius: 15px;
        box-shadow: 0 0 10px;
        padding: 40px 50px;
    }
    .box .content{
        line-height: 1.5;
        font-size: 1.3rem;
    
    }
    .header {
        font-size: .8rem;
        color: whitesmoke;
        background-color: #262626;
        border: solid 2px;
        border-color: burlywood;
        border-radius: 7px;
        width: 150%;
        margin: 20px auto;
    }

}
